# Configuración de Base de Datos
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=appsalon_mvc

# Configuración de Servidor de Correo (Mailtrap / SMTP de pruebas)
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=tu_usuario_mailtrap
EMAIL_PASSWORD=tu_password_mailtrap
EMAIL_FROM=cuentas@appsalon.com

# URL base de la aplicación
APP_URL=http://localhost:3000
